@model UOA.ForumData.Core.ForumDetail

@{
    ViewBag.Title = "ReadmoreContent";
}

<h2>ReadmoreContent</h2>

<!--Displaying the grouped questions and replies content -->
<div class="containerdiv">
    @Html.HiddenFor(model => model.ForumDetailID)
    <div class="information">
        <div><i class="fa fa-flag" aria-hidden="true"></i></div>
        <div class="content">
            @Html.Label("The site address is :") @Html.DisplayFor(model => model.Url)
            <br />
            @Html.Label("The site Name is :") @Html.DisplayFor(model => model.Name)
        </div>

    </div>


    @foreach (var q in Model.Questions)
    {
        <div class="accordion">
            @Html.DisplayFor(modelItem => q.Text)
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>

            <div class="panel">
                <p> @Html.DisplayFor(modelItem => q.Content)</p>

                <div class="authorname"><div class="icon-color"><text>Posted by </text><i class="fa fa-user" aria-hidden="true"></i></div><div class="authornametext">@Html.DisplayFor(modelItem => q.Author)</div> </div>
                <div class="authordate">
                    <div class="icon-color"><i class="fa fa-calendar" aria-hidden="true"></i></div><div class="date">@Html.DisplayFor(modelItem => q.Date)</div>
                </div>


                @if (q.Replies.Count != 0)
                {
                    <button style="background-color:lightpink;font-weight:bold" class="accordion"> Replies <i class="fa fa-list-ol" aria-hidden="true"></i></button>
                    <div class="panel">
                        @{ int i = 1;}
                        @foreach (var r in q.Replies)
                        {
                            <div class="reply-indent">
                                <div style="white-space:pre-line">
                                    <span>@i). </span>@Html.DisplayFor(modelItem => r.Text)
                                </div>
                                <div>
                                    <div class="authorname"><div class="icon-color"><text>Replied by </text><i class="fa fa-user" aria-hidden="true"></i></div><div class="authornametext">@Html.DisplayFor(modelItem => r.RepliedBy)</div> </div>
                                    <div class="authordate">
                                        <div class="icon-color"><i class="fa fa-calendar" aria-hidden="true"></i></div><div class="date">@Html.DisplayFor(modelItem => r.Date)</div>
                                    </div>

                                    @if (r.IsaBestReply)
                                    {
                                        <div class="best-reply"><text>Best Reply  </text> <i class="fa fa-check" aria-hidden="true"></i></div>
                                    }
                                </div>



                            </div>
                            i++;
                        }
                    </div>
                            }
                            else
                            {
                                <div class="noaccordion"> <text>No Replies Found</text></div>
                            }
            </div>
                            }

</div>
<div style="text-align:center">
    <input class="btn btn-info crawl-button" type="button" value="Go Back" onclick="location.href=
                                                                                    '@Url.Action("Index", "Analyser")'">
</div>

<script type="text/javascript">
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].onclick = function () {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "inline-block") {
                            panel.style.display = "none";
                        } else {
                            panel.style.display = "inline-block";
                        }
                    }
                }
</script>





